<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">

  <p>Name: <input type="text" name="post[name]"></p>
  <p>E-mail: <input type="text" name="post[email]"></p>
  <p>Password: <input type="text" name="post[password]"></p>

  <input type="submit" name="submit" value="Sign Up">

</form>
